.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputButton {
  padding: 4px;
  margin: 4px;
  border-radius: 16px;
  background-color: #EEEEEE;

}

.inputButton:hover {
  background-color: aquamarine;
}

.inputButton:disabled {
  background-color: #EEEEEE;
}



